.message{
	
	position:fixed;
	z-index:9999;
	margin-top:52px;
	margin-left:40%;
	padding:7px !important;
	padding-right:27px !important;
	
}

.confirm-delete{
	color:red;
	cursor:pointer;
}

.regimeTextarea{
   height:100px !important;	
}

.regime_active{
	color:green;
	height:20px;
}

.delete_icon{
	margin-left:5px;
}

.calendar_tools{
	display:none;
	color:red;
}


.table_calendar tr:hover span{
	display: inline-block;
	cursor:pointer;
}

.table_calendar tr:hover{
	cursor:pointer;
}

.img_container{
	padding:3px;
	width:64px;
	margin:auto;
}

.medicalFolder{
	padding-bottom:12px;
	padding:10px;
	padding-top:45px;
}

.medicalFolder:HOVER{
	background:#f5f5f5;
}

.folder_infos {
	display:none;
}

.medicalFolder:HOVER > .folder_infos{
	 display:block;
}

.note-list{
	padding:0px;
	overflow: scroll;
	height: 90%;
}

.note-box{
	height: 100%;
}

.note-section{
	height: 520px;
}

.note-list ul{
	list-style: none;
	padding:0px;
}

.note-list li{
	border-bottom: 1px solid #f4f4f4;
	padding:4px;
	padding-left:6px;
}

.note-list .tools{
	float:right;
	display:none;
	color:red;
}

.note-list .tools .fa-edit{
	margin-right:5px;
}

.note-list .note-title h3{
	color:#5cb85c;
	font-size:18px;
}

.note-list li:hover{
	color:white;
	background:#5cb85c;
}

.note-list li:hover .tools{
	display:inline-block;
}

.note-list li:hover h3{
	color:white;
}

.note-title-input{
	color:#5cb85c;
	font-size: 18px;
	border: 0px;
}

.btn-group>.btn+.dropdown-toggle{
	height:34px;
}

.createNew{
	float:right;
}

.createNew .dropdown-menu{
	right:0;
	left:1;
}