
<div class="risk_content">

 <table class="risk_matrix_tab" border="1">
   <tr> 
    <td rowspan="7"><div class="col_num">Impact of Product Quality</div></td>
   </tr>
   <tr>
       <td><div class="col_num">5</div></td>
	   <td><div id="1_1" class="yellow col"></div></td>
	   <td><div id="1_2" class="orange col"></div></td>
	   <td><div id="1_3" class="red col"></div></td>
	   <td><div id="1_4" class="red col"></div></td>
	   <td><div id="1_5" class="red col"></div></td>
   </tr>
   <tr>
       <td><div class="col_num">4</div></td>
	   <td><div id="2_1" class="yellow col"></div></td>
	   <td><div id="2_2" class="orange col"></div></td>
	   <td><div id="2_3" class="orange col"></div></td>
	   <td><div id="2_4" class="red col"></div></td>
	   <td><div id="2_5" class="red col"></div></td>
   </tr>
   <tr>
       <td><div class="col_num">3</div></td>
	   <td><div id="3_1" class="green col"></div></td>
	   <td><div id="3_2" class="yellow col"></div></td>
	   <td><div id="3_3" class="orange col"></div></td>
	   <td><div id="3_4" class="orange col"></div></td>
	   <td><div id="3_5" class="red col"></div></td>
   </tr>
   <tr>
       <td><div class="col_num">2</div></td>
	   <td><div id="4_1" class="green col"></div></td>
	   <td><div id="4_2" class="green col"></div></td>
	   <td><div id="4_3" class="yellow col"></div></td>
	   <td><div id="4_4" class="orange col"></div></td>
	   <td><div id="4_5" class="orange col"></div></td>
   </tr>
   <tr>
       <td><div class="col_num">1</div></td>
	   <td><div id="5_1" class="green col"></div></td>
	   <td><div id="5_2" class="green col"></div></td>
	   <td><div id="5_3" class="green col"></div></td>
	   <td><div id="5_4" class="yellow col"></div></td>
	   <td><div id="5_5" class="yellow col"></div></td>
   </tr>
   <tr>
       <td><div class="col_num">0</div></td>
	   <td><div class="col_num">1</div></td>
	   <td><div class="col_num">2</div></td>
	   <td><div class="col_num">3</div></td>
	   <td><div class="col_num">4</div></td>
	   <td><div class="col_num">5</div></td>
   </tr>
   <tr>
     <td colspan="7" style="text-align:center;font-weigth:bold;"><div class="col_num"> ---------- Probability of detection ------------</div></td>
   </tr>
 </table>


</div>


<!-- 

  <div>
   <div id="1_1" class="yellow col"></div>
   <div id="1_1" class="yellow col"></div>
   <div id="1_2" class="orange col"></div>
   <div id="1_3" class="red col"></div>
   <div id="1_4" class="red col"></div>
   <div id="1_5" class="red col"></div>
  </div>
  
  <div>
   <div id="2_1" class="yellow col"></div>
   <div id="2_2" class="orange col"></div>
   <div id="2_3" class="orange col"></div>
   <div id="2_4" class="red col"></div>
   <div id="2_5" class="red col"></div>
  </div>
  
  <div >
   <div id="3_1" class="green col"></div>
   <div id="3_2" class="yellow col"></div>
   <div id="3_3" class="orange col"></div>
   <div id="3_4" class="orange col"></div>
   <div id="3_5" class="red col"></div>
  </div>
  
  <div>
   <div id="4_1" class="green col"></div>
   <div id="4_2" class="green col"></div>
   <div id="4_3" class="yellow col"></div>
   <div id="4_4" class="orange col"></div>
   <div id="4_5" class="orange col"></div>
  </div>
  
  <div>
   <div id="5_1" class="green col"></div>
   <div id="5_2" class="green col"></div>
   <div id="5_3" class="green col"></div>
   <div id="5_4" class="yellow col"></div>
   <div id="5_5" class="yellow col"></div>
  </div>
  

 -->